@model IEnumerable<TPRM.Models.Transacao>

@{
    ViewBag.Title = "Transações";
}

<h2>Transações</h2>

@if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Cliente")))
{
    <p>
        @Html.ActionLink("Cadastrar Transação", "Create")
    </p>
}

<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpresaContratanteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpresaContratadaID)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Servico.TipoServico)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.ValorTransacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoTransacao)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.StatusTransacao.DescricaoStatus)
        </th>
        @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Analista")))
        {
            <th>Ação</th>
        }
        else
        {
            <th></th>
        }

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpresaContratante.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpresaContratada.RazaoSocial)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Servico.TipoServico)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.ValorTransacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoTransacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusTransacao.DescricaoStatus)
        </td>
        @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Analista")))
        {
            <td>
                @Html.ActionLink("Analisar", "Edit", new { id = item.TransacaoID }) 
            </td>
        }
        else
        {
            <td></td>
        }

</tr>
}

</table>
