@model IEnumerable<TPRM.Models.Transacao>

@{
    ViewBag.Title = "Transações";
}

<h2>Transações</h2>

<p>
    @Html.ActionLink("Cadastrar Transação", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpresaContratanteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpresaContratadaID)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Servico.TipoServico)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.ValorTransacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoTransacao)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.StatusTransacao.DescricaoStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpresaContratante.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpresaContratada.RazaoSocial)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Servico.TipoServico)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.ValorTransacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoTransacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusTransacao.DescricaoStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransacaoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransacaoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransacaoID })
        </td>
    </tr>
}

</table>
