@model IEnumerable<TPRM.Models.DebitoCliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transacao.DescricaoTransacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorDebito)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transacao.DescricaoTransacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorDebito)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DebitoClienteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DebitoClienteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DebitoClienteID })
        </td>
    </tr>
}

</table>
