@model IEnumerable<TPRM.Models.Servico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoServico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorServico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoServico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisponibilidadeServico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoServico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorServico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoServico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisponibilidadeServico)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServicoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServicoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServicoID })
        </td>
    </tr>
}

</table>
